<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	 http://www.springframework.org/schema/context 
	 http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    	<context:annotation-config></context:annotation-config>
	<!-- Middle level services -->	
	<bean id="logSer" class="com.lavi.tutorial.LogService"/>
	<bean id="txSer" class="com.lavi.tutorial.TxService"/>
	
	<!-- Adivces  -->
	<bean id="MBAdvice" class="com.lavi.tutorial.MBeforeAdvice"/>
	<bean id="MARdvice" class="com.lavi.tutorial.MAfterReturningAdvice"/>
	<bean id="MTdvice" class="com.lavi.tutorial.MThrowsAdvice"/>
	<bean id="MArounddvice" class="com.lavi.tutorial.MethodAround"/>
	
	<!-- Target object -->
	<bean id="acctser" class="com.lavi.tutorial.AccountServiceImpl"/>
	
	<bean id="proxybean1" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces" value="com.lavi.tutorial.AccountService"/>
		<property name="interceptorNames">
			<list>
				<value>MBAdvice</value>
				<value>MARdvice</value>
				<value>MTdvice</value>
				<value>MArounddvice</value>
			</list>
		</property>
		<property name="target">
			<ref bean="acctser" />
		</property>
	</bean>
</beans>