<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
		
	<!-- Person bean -->
	<bean id="person" class="com.lavi.tutorial.Person" >
		<constructor-arg index="0" value="Naveen"></constructor-arg>
		<constructor-arg index="1" value="30" type="int"></constructor-arg>
		<constructor-arg index="2" ref="addressId"></constructor-arg>
	 </bean>
	
	<!-- Address bean which injects in Address bean -->
	 <bean id="addressId" class="com.lavi.tutorial.Address"> 
		<property name="city">
			<value>Bangalore</value>
		</property>
		<property name="state">
			<value>karnataka</value>
		</property>
		<property name="pincode">
			<value>560016</value>
		</property>
	</bean>
</beans>