<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
		
	<bean id="single" class="com.lavi.tutorial.Singleton" factory-method="getInstance" >
	</bean>
	<bean id="single1" factory-bean="single" factory-method="getNonStaticInstance">	
	</bean>
	
	<bean id="person" class="com.lavi.tutorial.Person" scope="prototype"/>
	
	<bean id="person1" factory-bean="person" factory-method="getPerson" />
	
</beans>